@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

$roboto: 'Roboto', sans-serif;
$conRoboto: 'Roboto Condensed', sans-serif;

h1{
  font: 2em $roboto;
  font-weight: bold;
}

a {
  text-decoration: none;
}